:root {
  --bg: #fafafa;
  --fg: #1a1c1e;
  --fg-muted: #666;
  --border: #1a1c1e;
}

html, body {
  background-color: var(--bg);
}

body {
  color: var(--fg);
}

a {
  color: var(--fg);
}

.indicator:before {
  content: "🔆";
}

.me {
  background-image: url("../images/me-color.png");
  background-position: center top;
}
