html, body {
  background-color: #fff;
}

body {
  color: #242729;
}

a {
  color: #242729;
}

.indicator:before {
  content: "🔆 ";
}

.me {
  border: 3px solid #242729;
  background-image: url("me-color.jpg");
  background-position: 0px 0px;
}
